@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

html, body, #root {
  background-color: #ffffff;
  min-height: 100%;
}

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}